@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:wght@400..900&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

body {
  @apply font-sans flex flex-col min-h-screen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

.container {
  @apply px-4 sm:px-6 lg:px-8;
}

main {
  @apply flex-grow;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation for the logo */
@keyframes logo-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pulse {
  animation: logo-pulse 2s infinite;
}
